* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.projects_cntnr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.projects {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 1430px;
  height: 150px;
}
.projects p {
  font-size: 24px;
  line-height: 36px;
}
.img_cntnr {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.img_cntnr img {
  width: 100%;
  height: 235px;
}
.all {
  position: relative;
  width: 350px;
  height: 235px;
}
.all p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  background-color: black;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 15px;
  line-height: 23px;
}
.about_cntnr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.About {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 1430px;
  height: 150px;
  gap: 20px;
}
#about {
  font-size: 24px;
  line-height: 36px;
}
#contex {
  font-size: 15px;
  line-height: 23px;
}
.img_cntnr2 {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.all2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
  height: 235px;
}
.all2 img {
  width: 100%;
  height: 235px;
}
.name {
  font-size: 24px;
  line-height: 36px;
}
.work {
  font-size: 15px;
  line-height: 23px;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 23px;
  background-color: #cccccc;
  color: black;
  cursor: pointer;
}
.contact:hover {
  background-color: #cccccc81;
}
